
html {
    background: #404040;
}

body {
    background-color: #f9f9f9;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0px 0px 0px;
    min-width: 960px;
}

h1 {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body > header {
    background-color: #004985;
    color: white;
    text-shadow: 2px 2px 5px #000000, 4px 4px 7px #ffffff;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    z-index: 1;
    top: 0;
    position: fixed;
}

p {
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    margin: 0 auto;
    max-width: 960px;
    padding: 50px 50px 10px 50px;
}
    
select {
    width: 80px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    font-family: Verdana;
}

input {
    width: 300px;
    height: 25px;
    font-size: 20px;
    padding: 5px;
    font-family: Verdana;
    margin-bottom: 50px;
}

button {
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 100px;
    text-shadow: 2px 2px 3px #ffffff, 2px 2px 5px #ffffff;
    padding: 5px;
    font-family: Verdana;
    margin-top: 50px;
    margin-bottom: 300px;
    background: #26c226;
    border-color: #26c226;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

footer {
    font-family: Verdana;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #404040;
    box-sizing: border-box;
    box-align: bottom;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);


}
